@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/dm-sans.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    * {
        @apply underline-offset-4;
    }

    body {
        @apply font-sans bg-white w-screen overflow-x-hidden text-lg;
    }

    a {
        @apply underline;
    }

    .hero-description {
        @apply text-center py-7 text-2xl;
    }
}

@layer components {
    .content {
        @apply space-y-3 md:space-y-7;
    }

    .text-git-gradient {
        @apply bg-gradient-to-br from-red-500 to-pink-500 bg-clip-text text-transparent;
    }

    .bg-git-gradient {
        @apply bg-gradient-to-br from-red-500 to-pink-500;
    }

    .bg-git-fade {
        @apply bg-gradient-to-tl from-rose-100 to-transparent;
    }

    .text-github-gradient {
        @apply bg-gradient-to-br from-purple-500 to-blue-500 bg-clip-text text-transparent;
    }

    .bg-github-gradient {
        @apply bg-gradient-to-br from-purple-500 to-blue-500;
    }

    .bg-github-fade {
        @apply bg-gradient-to-tl from-purple-100 to-transparent;
    }

    .bg-default-fade {
        @apply bg-gradient-to-tl from-zinc-100 to-transparent border;
    }

    .fade::after {
        @apply absolute top-0 left-0 h-full w-screen;
        content: " ";
        background: linear-gradient(
            90deg,
            #ffffff,
            transparent 20%,
            transparent 80%,
            #ffffff
        );
        position: absolute;
        inset: 0;
    }

    .glow {
        position: relative;
        z-index: 1;
    }

    .glow::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 500px;
        height: 500px;
        background: radial-gradient(
            circle,
            rgba(255, 0, 0, 0.25),
            rgba(0, 0, 0, 0)
        );
        filter: blur(100px);
        border-radius: 50%;
        z-index: -1;
    }

    .glow::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -50%;
        width: 500px;
        height: 500px;
        background: radial-gradient(
            circle,
            rgba(111, 0, 255, 0.25),
            rgba(0, 0, 0, 0)
        );
        filter: blur(100px);
        border-radius: 50%;
        z-index: -1;
    }
}
