---
import Description from "../Description.astro"
---

<section
    class="content text-center grow flex flex-col justify-center items-center overflow-x-hiddden"
>
    <h1 class="md:glow text-6xl md:text-[100px] font-bold leading-none">
        <span class="text-git-gradient">Modern</span>
        Development
        <br />
        In The South
        <span class="text-github-gradient">Pacific</span>.
    </h1>
    <Description>
        Version control illiteracy is widespread in the South Pacific.
        <br />
        But it doesn't have to stay that way 🫡
        <br />
    </Description>
</section>
