---
import Container from "../Container.astro"
import Button from "../Button.astro"
---

<Container>
    <section
        class="p-5 md:p-10 bg-git-fade rounded-3xl flex flex-col md:flex-row gap-10 items-center justify-between"
    >
        <h1 class="text-4xl md:text-5xl font-bold text-balance">
            <span class="text-git-gradient">3</span> Lessons. <span
                class="text-git-gradient">3</span
            > Days.
            <br />
            Zero Reasons To Not Start.
        </h1>
        <Button size="lg" variant="git"> Enroll Now - It's Free</Button>
    </section>
</Container>
