---
import { GetStarted } from "@components/GetStarted"
import Container from "../Container.astro"
---

<Container>
    <section
        class="p-5 md:p-10 bg-git-fade rounded-3xl flex flex-col md:flex-row gap-10 items-center justify-between"
    >
        <h1 class="text-4xl md:text-5xl font-bold text-balance">
            <span class="text-git-gradient">3</span> Lessons. <span
                class="text-git-gradient">3</span
            > Days.
            <br />
            <span class="text-git-gradient">Zero</span> Reasons To Not Start.
        </h1>
        <div>
            <GetStarted
                className="btn-lg btn-git"
                eventName="Sign Up CTA"
                client:load
            />
        </div>
    </section>
</Container>
