---
import { Save, Heart, GitBranch } from "lucide-react"
import Header from "../Header.astro"
import Grid from "../Grid.astro"
import InfoCard from "../InfoCard.astro"
import Description from "../Description.astro"
---

<section class="content">
    <Header>
        Ugh, Is Learning <span class="text-git-gradient">Git</span> Really That
        <span class="text-git-gradient">Important</span>?
    </Header>
    <Description>
        Hell Yeah! Git keeps your projects organized and helps
        <br />
        you work seamlessly with group members.
    </Description>

    <Grid>
        <InfoCard
            title="Easy To Use"
            description="Git has tons of easy yet insanely powerful commands to manage your  projects."
            icon={Heart}
            type="git"
        />
        <InfoCard
            title="Versioning"
            description="Git lets you keep track of changes to your code over time, so you can go back."
            icon={Save}
            type="git"
        />
        <InfoCard
            title="Bracnhes"
            description="Git yets you split your code into different universes and work on them independently."
            icon={GitBranch}
            type="git"
        />
    </Grid>
</section>
