---
import { getSession } from "auth-astro/server"
import { GetStarted } from "@components/GetStarted"
import Description from "../Description.astro"

const session = await getSession(Astro.request)
---

<section
    class="content flex flex-col justify-center items-center text-center overflow-x-hiddden"
>
    <h1 class="md:glow text-6xl md:text-[100px] font-bold leading-none">
        Collaborative Coding
        <br />
        <span class="text-git-gradient">Git</span> and <span
            class="text-github-gradient">GitHub</span
        >
    </h1>
    <Description>
        Learn how to work on coding group projects the modern way.
        <br />
        Don't be the guy that emails code back and forth 😐
    </Description>
    <div>
        {
            session ? (
                <a href="/lessons" class="btn-lg btn-github">
                    Go To Lessons
                </a>
            ) : (
                <GetStarted className="btn-lg btn-github" client:load />
            )
        }
    </div>
</section>
