---
import img1 from "../../images/1.webp"
import img2 from "../../images/2.webp"
import img3 from "../../images/3.webp"
import img4 from "../../images/4.webp"
import img5 from "../../images/5.webp"
import img6 from "../../images/6.webp"
import img7 from "../../images/7.webp"
import img8 from "../../images/8.webp"
import img9 from "../../images/9.webp"
import img10 from "../../images/10.webp"
import img11 from "../../images/11.webp"

import Description from "../Description.astro"
import Header from "../Header.astro"
import { Image } from "astro:assets"

const data = [
    img1,
    img2,
    img3,
    img4,
    img5,
    img6,
    img7,
    img8,
    img9,
    img10,
    img11
]

const images = [
    [...data.sort(() => Math.random() - 0.5)],
    [...data.sort(() => Math.random() - 0.5)],
    [...data.sort(() => Math.random() - 0.5)]
]

const loops = [1, 2]
---

<section class="content">
    <Header
        >Loved By <span class="text-git-gradient">Students</span>, Trusted By <span
            class="text-github-gradient">Universities</span
        >.
    </Header>
    <Description>
        CS000 has helped out <b>100+</b> studentets and is recommended by lecturers
        <br />
        from The University of the South Pacific and Fiji National University.
    </Description>
    <div class="fade relative grid gap-5 md:gap-10 w-screen overflow-x-hidden">
        {
            images.map((images, index) => (
                <div class="w-full inline-flex flex-nowrap">
                    {loops.map(() => (
                        <ul
                            class={`${index % 2 == 0 ? "animate-infinite-scroll-left" : "animate-infinite-scroll-right"} [&_li]:md:mx-5 [&_li]:mx-2.5 flex items-center justify-center md:justify-start`}
                        >
                            {images.map((image) => (
                                <li class="overflow-hidden rounded-xl h-16 w-16">
                                    <Image
                                        src={image}
                                        alt="image"
                                        width={80}
                                        height={80}
                                    />
                                </li>
                            ))}
                        </ul>
                    ))}
                </div>
            ))
        }
    </div>
</section>
