---
import Description from "../Description.astro"
---

<section class="content flex flex-col justify-center items-center text-center">
    <h1 class="md:glow text-6xl md:text-[100px] font-bold leading-none">
        One Semester? Nah.
        <br />
        <span class="text-git-gradient">3</span> Lessons. <span
            class="text-github-gradient">3</span
        > Days.
    </h1>
    <Description>
        Learning Git and GitHub is extremely easy, trust me 😎
        <br />
        Take out a few ours each day and you'll be done in no time.
    </Description>
</section>
