---
import Header from "../Header.astro"
import Descriotion from "../Description.astro"

// source: https://hutte.io/trails/git-based-development-statistics/
const statistics = [
    {
        title: "Of Open Source Projects Use Version Control.",
        value: "99%"
    },
    {
        title: "Of Developers Believe Git Made Collaboration Easier.",
        value: "85%"
    },
    {
        title: "Of Developer Job Listings In 2023 Mentioned Git.",
        value: "67% "
    }
]
---

<section
    class="divide-x divide-zinc-200 grid grod-cols-1 md:grid-cols-3 text-center gap-10"
>
    {
        statistics.map((stat) => (
            <div>
                <Header>{stat.value}</Header>
                <Descriotion>{stat.title}</Descriotion>
            </div>
        ))
    }
</section>
