---
import Description from "../Description.astro"
---

<section
    class="content text-center grow flex flex-col justify-center items-center"
>
    <h1 class="md:glow text-4xl md:text-[100px] font-bold leading-none">
        <span class="text-git-gradient"> CS000</span>
        Is Free, Forever.
        <br />
        But It Needs
        <span class="text-github-gradient"> You</span>.
    </h1>
    <Description>
        Don't worry about paying, this one's on me 😉
        <br />
        You can support by giving CS000 a <a href="#star-repo">Star</a>
        or <a href="#contribute">Contrubuting</a>.
        <br />
    </Description>
</section>
