---
export const prerender = true

import Description from "@components/Description.astro"
import Header from "@components/Header.astro"
import Layout from "../layouts/main.astro"
import { HelpCircle } from "lucide-react"
---

<Layout
    title="Error 404"
    description="Learn how to work on coding group projects the modern way in 3 days for free. Don't be the guy that emails code back and forth."
>
    <main class="w-screen grid place-content-center gap-10">
        <div
            class="mx-auto bg-github-gradient rounded-2xl w-fit p-5 text-white"
        >
            <HelpCircle size={25} />
        </div>
        <Header>
            Error code <span class="text-github-gradient">404</span></Header
        >
        <Description>The page you are looking for does not exist.</Description>
    </main>
</Layout>
