---
export const prerender = true
import Layout from "../layouts/main.astro"
---

<Layout>
    <main class="text-center h-screen w-screen grid place-content-center">
        <h1 class="glow text-[100px] font-bold leading-none">
            Collaborative Coding
            <br />
            <span class="git-gradient">Git</span> and <span
                class="github-gradient">GitHub</span
            >
        </h1>
    </main>
</Layout>
