---
import { type LucideIcon, Check } from "lucide-react"

interface Props {
    title: string
    description: string
    icon: LucideIcon
    items: string[]
    url: string
    type: "git" | "github"
}

const { title, description, icon: Icon, items, type, url } = Astro.props

let style = ""
let background = ""

switch (type) {
    case "git":
        style = "bg-git-fade"
        background = "bg-git-gradient"
        break
    case "github":
        style = "bg-github-fade"
        background = "bg-github-gradient"
        break
}
---

<a
    href={url}
    class={style +
        " no-underline flex flex-col justify-end col-span-1  rounded-3xl p-5 gap-3"}
>
    <div class={background + " rounded-2xl w-fit p-5 text-white"}>
        {(<Icon size={25} strokeWidth={2} />)}
    </div>
    <h4 class="font-bold text-2xl">{title}</h4>
    {description}
    <h4 class="font-bold text-2xl">Contents</h4>
    <ul>
        {
            items.map((item) => (
                <li class="flex items-center gap-2">
                    <Check size={25} strokeWidth={2} />
                    {item}
                </li>
            ))
        }
    </ul>
</a>
