---
import { UserMenu } from "@components/UserMenu"
import { db } from "@prisma"

const links = [
    { href: "/lessons", label: "Lessons" },
    { href: "/support", label: "Support" },
    { href: "/about", label: "About" }
]

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const { user } = Astro.locals

const userProgress = await db.user.findFirst({
    where: {
        email: user?.email
    },
    include: {
        progress: true
    }
})
---

<div
    class="border-b broder-zinc-3200 h-14 z-10 backdrop-blur-xl bg-white/50 fixed top-0 w-screen flex items-center justify-center"
>
    <nav
        class="[&>div>a]:no-underline [&>div>a:hover]:underline [&>div>a:hover]:text-black w-full md:w-4/5 lg:w-3/4 mx-auto flex items-center justify-between"
    >
        <div>
            <a class="!text-black" href="/">CS000</a>
        </div>
        <div class="hidden md:block space-x-10">
            {
                links.map((link) => (
                    <a
                        href={link.href}
                        class={
                            currentPath.includes(link.label.toLowerCase())
                                ? "text-black"
                                : "text-zinc-500"
                        }
                    >
                        {link.label}
                    </a>
                ))
            }
        </div>
        <div>
            <UserMenu user={userProgress} client:load />
        </div>
    </nav>
</div>
