<div
    class="border-b broder-zinc-3200 p-5 md:px-0 z-10 backdrop-blur-xl bg-white/50 fixed top-0 w-screen flex items-center justify-center"
>
    <nav
        class="[&>div>a]:no-underline w-full md:w-4/5 lg:w-3/4 mx-auto flex items-center justify-between"
    >
        <div>
            <a class="!text-black" href="/">CS000</a>
        </div>
        <div class="hidden md:block space-x-10">
            <a href="/lessons">Lessons</a>
            <a href="/pricing">Pricing</a>
            <a href="/contribute">Contribute</a>
            <a href="/about">About</a>
        </div>
        <div>
            <a href="/">Get Started</a>
        </div>
    </nav>

    <style>
        a {
            @apply text-zinc-500 hover:text-black transition;
        }
    </style>
</div>
