<nav
    class="z-10 border-b border-black bg-white fixed top-0 w-screen h-[10vh] flex items-center justify-center"
>
    <div class="w-3/4 mx-auto flex items-center justify-between">
        <div>
            <a href="/">CS000</a>
        </div>
        <div class="space-x-10">
            <a href="/">Lessons</a>
            <a href="/">Pricing</a>
            <a href="/">Contribute</a>
            <a href="/">About</a>
        </div>
        <a href="/"> Who Made This? </a>
    </div>
</nav>

<!-- <style>
    nav a {
        @apply text-zinc-400 hover:text-black transition;
    }
</style> -->
