---
import UserMenuWrapper from "./UserMenuWrapper.astro"

const links = [
    { href: "/lessons", label: "Lessons" },
    { href: "/support", label: "Support" },
    { href: "/about", label: "About" }
]

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<div
    class="!m-0 border-b broder-zinc-3200 h-14 z-10 backdrop-blur-xl bg-white/50 fixed top-0 w-screen flex items-center justify-center"
>
    <nav
        class="w-full md:w-4/5 lg:w-3/4 mx-auto flex items-center justify-between"
    >
        <div>
            <a class="!text-black" href="/">CS000</a>
        </div>
        <div class="hidden md:block space-x-10">
            {
                links.map((link) => (
                    <a
                        href={link.href}
                        class={
                            currentPath.includes(link.label.toLowerCase())
                                ? "text-black"
                                : "text-zinc-500"
                        }
                    >
                        {link.label}
                    </a>
                ))
            }
        </div>
        <div>
            <UserMenuWrapper server:defer>
                <UserMenuWrapper skeleton slot="fallback" />
            </UserMenuWrapper>
        </div>
    </nav>
</div>

<style>
    nav > div > a {
        @apply no-underline hover:underline;
    }
</style>
