<div
    class="px-5 md:px-0 z-10 backdrop-blur-xl bg-white/50 fixed top-0 w-screen h-[10vh] flex items-center justify-center"
>
    <nav
        class="[&>div>a]:no-underline w-full md:w-4/5 lg:w-3/4 mx-auto flex items-center justify-between"
    >
        <div>
            <a class="!text-black" href="/">CS000</a>
        </div>
        <div class="hidden md:block space-x-10">
            <a href="/">Lessons</a>
            <a href="/">Pricing</a>
            <a href="/">Contribute</a>
            <a href="/">About</a>
        </div>
        <div>
            <a href="/"> Enroll Now</a>
        </div>
    </nav>

    <style>
        nav a {
            @apply text-zinc-500 hover:text-black transition;
        }
    </style>
</div>
