---
import "../styles/globals.css"

interface Props {
    title: string
    theme: "git" | "github"
}

const { title, theme } = Astro.props

let bg = ""

switch (theme) {
    case "git":
        bg = "bg-git-gradient"
        break
    case "github":
        bg = "bg-github-gradient"
        break
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.png" />
        <meta name="generator" content={Astro.generator} />
        <title>CS000 | {title}</title>
    </head>
    <body
        class={`${bg} flex justify-center items-center min-h-screen min-w-screen`}
    >
        <slot />
    </body>
</html>
