---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../styles/globals.css"

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            data-domains="cs000.dev"
            src="https://cloud.umami.is/script.js"
            data-website-id="4da8afb7-7dfb-4d88-af20-dc1998c347b2"></script>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} /></head
    >````
    <meta name="description" content={description} />
    <meta property="og:site_name" content="CS000" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:image" content="/og.png" />
    <title>CS000 | {title}</title>

    <body>
        <Navbar />
        <main class="legal pt-[10vh]">
            <slot />
        </main>
        <Footer />
    </body>


</html>
