---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../styles/globals.css"

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta property="og:site_name" content="CS000" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.png" />
        <title>CS000 | {title}</title>
    </head>
    <body class="pt-[10vh] flex flex-col min-h-screen">
        <Navbar />
        <main class="legal">
            <slot />
        </main>
        <Footer />
    </body>
</html>
