---
import ModalProvider from "@providers/ModalProvider.astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../styles/globals.css"

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props

const pageUrl = new URL(Astro.url.pathname, Astro.site)

const wesbiteStructuredData = {
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Anav Chand",
    alternateName: "Anav",
    url: pageUrl
}
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            src="https://cloud.umami.is/script.js"
            data-website-id="85fbce64-883c-4a5e-8c7b-7923d355078d"
            data-host-url="https://www.cs000.dev"></script>
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(wesbiteStructuredData)}
        />
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta property="og:site_name" content="CS000" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.png" />
        <title>CS000 | {title}</title>
        <SpeedInsights />
    </head>
    <body class="pt-[10vh] flex flex-col min-h-screen space-y-20 md:space-y-24">
        <Navbar />
        <ModalProvider />
        <slot />
        <Footer />
    </body>
</html>
