---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../styles/globals.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>CS000 - Collaborative Coding with Git and GitHub!</title>
    </head>
    <body class="pt-[10vh] space-y-20 md:space-y-26">
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
